h1 {
    font-size: 50px;
}

section {
    width: 40rem;
    margin: auto;
    text-align: center;
    padding-top: 15rem;
    background: 100% linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}
body {
    background: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
}